/* all screens */
    html, body, h1, h2, h3, ul, li, a, p,
    article, aside, footer, header, main, nav, section {
        padding: 0;
        margin: 0;
    }
    
    .title {
        font-family: 'Monoton', cursive;
    }

    .title:hover {
        text-decoration: none;
    }

    nav li a:hover {
        color: grey;
        text-decoration: none;
    }
    .vaardigheidtitel {
        text-align: center;
    }

    table{
        background: white;
        border-radius:3px;
        border-collapse: collapse;
        margin: auto;
        max-width: 600px;
        padding:5px;
        width: 100%;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        animation: float 5s infinite;
      }

    .tabletext
    {
        color: #000000;
        font-family: 'Helvetica Neue';
    }
      th {
        color:#D5DDE5;;
        background:#1b1e24;
        border-bottom:4px solid #9ea7af;
        border-right: 1px solid #343a45;
        font-size:23px;
        font-weight: 100;
        padding:24px;
        text-align:left;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        vertical-align:middle;
      }
      
      th:first-child {
        border-top-left-radius:3px;
      }
       
      th:last-child {
        border-top-right-radius:3px;
        border-right:none;
      }
        
      tr {
        border-top: 1px solid #C1C3D1;
        border-bottom-: 1px solid #C1C3D1;
        color:#666B85;
        font-size:16px;
        font-weight:normal;
        text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
      }
       
      tr:hover td {
        background:#4E5066;
        color:#FFFFFF;
        border-top: 1px solid #22262e;
      }
       
      tr:first-child {
        border-top:none;
      }
      
      tr:last-child {
        border-bottom:none;
      }
       
      tr:nth-child(odd) td {
        background:#EBEBEB;
      }
       
      tr:nth-child(odd):hover td {
        background:#4E5066;
      }
      
      tr:last-child td:first-child {
        border-bottom-left-radius:3px;
      }
       
      tr:last-child td:last-child {
        border-bottom-right-radius:3px;
      }
       
      td {
        background:#FFFFFF;
        padding:20px;
        text-align:left;
        vertical-align:middle;
        font-weight:300;
        font-size:18px;
        text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
        border-right: 1px solid #C1C3D1;
      }
      
      td:last-child {
        border-right: 0px;
      }
      
      th.text-left {
        text-align: left;
      }
      
      th.text-center {
        text-align: center;
      }
      
      th.text-right {
        text-align: right;
      }
      
      td.text-left {
        text-align: left;
      }
      
      td.text-center {
        text-align: center;
      }
      
      td.text-right {
        text-align: right;
      }
      
      
/* Mobile first */
    nav {
        background-color: rgb(26, 24, 24);
        margin-top: -1px;
        font-size: 150%;
        top: 0px;
        width: 100%;
    }
        
    nav li {
        display: block;
        margin-left: 15px;
        margin-right: 15px;   
    }
        
    nav li a {
        color: white;
        padding:  5px;
        margin-top: 1px;
        text-decoration: none;
        display: block;
    }


    header {
        margin-top: 1px;
    }

    .headerimg {
        display: none;
    }
    .grid-container {
        display: grid;
        grid-template-columns: 0.1fr 2.1fr 0.1fr;
        grid-template-rows: 1fr 1fr 3.7fr 0.3fr 0.1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
          ". Foto ."
          ". Wie-ben-ik ."
          ". vaardigheden ."
          ". . ."
          ". . ."
          ". . .";
      }
      
      .Foto { grid-area: Foto; }
      
      .Wie-ben-ik { grid-area: Wie-ben-ik; }
      
      .vaardigheden {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        gap: 0px 0px;
        grid-template-areas:
          "vaardigheid1 vaardigheid2"
          "vaardigheid3 vaardigheid4"
          "vaardigheid5 vaardigheid6";
        grid-area: vaardigheden;
      }
      
      .vaardigheid1 { grid-area: vaardigheid1; }
      
      .vaardigheid2 { grid-area: vaardigheid2; }
      
      .vaardigheid3 { grid-area: vaardigheid3; }
      
      .vaardigheid4 { grid-area: vaardigheid4; }
      
      .vaardigheid5 { grid-area: vaardigheid5; }
      
      .vaardigheid6 { grid-area: vaardigheid6; }
      
/* Tablet screen */
@media screen and (min-width: 700px) {
    nav {
        background-color: rgb(26, 24, 24);
        margin-top: -1px;
        font-size: 135%;
        top: 0px;
        width: 100%;
    }
    title {
        display: block;
    }
    nav li {
        display: inline-block;
        margin-left: 15px;
        margin-right: 15px;   
    }
    
    nav li a {
        color: white;
        padding:  5px;
        margin-top: 1px;
        text-decoration: none;
        display: block;

    } 

.headerimg {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}
.Contactinformatie
{
margin-top: 80px;
}
.grid-container {
    display: grid;
    grid-template-columns: 0.8fr 1fr 1.2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.6fr 1.4fr 1.4fr 0.6fr 1fr 1fr;
    gap: 10px 0px;
    grid-template-areas:
      ". Foto Wie-ben-ik Wie-ben-ik ."
      ". vaardigheden vaardigheden vaardigheden ."
      ". vaardigheden vaardigheden vaardigheden ."
      ". opleidingen opleidingen opleidingen ."
      ". Werkervaring Werkervaring Werkervaring ."
      ". Contactinformatie Contactinformatie Contactinformatie ."
      ". . . . ."
      ". . . . .";
  }
  
  .Wie-ben-ik { grid-area: Wie-ben-ik; }
  
  .Foto { grid-area: Foto; }
  
  .vaardigheden {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "vaardigheid1 vaardigheid2 vaardigheid3"
      "vaardigheid4 vaardigheid5 vaardigheid6";
    grid-area: vaardigheden;
  }
  
  .vaardigheid1 { grid-area: vaardigheid1; }
  
  .vaardigheid2 { grid-area: vaardigheid2; }
  
  .vaardigheid3 { grid-area: vaardigheid3; }
  
  .vaardigheid4 { grid-area: vaardigheid4; }
  
  .vaardigheid5 { grid-area: vaardigheid5; }
  
  .vaardigheid6 { grid-area: vaardigheid6; }
  
  .opleidingen { grid-area: opleidingen; }
  
  .Werkervaring { grid-area: Werkervaring; }
  
  .Contactinformatie { grid-area: Contactinformatie; }
  
  
@media screen and (min-width: 950px) {
    nav {
        background-color: rgb(53, 108, 171);
        margin-top: -1px;
        font-size: 150%;
        top: 0px;
        width: 100%;
        position: sticky;
    }
     
    nav li {
        display: inline-block;
        margin-left: 15px;
        margin-right: 15px;   
    }
            
    nav li a {
        color: white;/* all screens */
    html, body, h1, h2, h3, ul, li, a, p,
    article, aside, footer, header, main, nav, section {
        padding: 0;
        margin: 0;
    }

    .title {
        font-family: 'Monoton', cursive;
    }

    .title:hover {
        text-decoration: none;
    }

    nav li a:hover {
        color: grey;
        text-decoration: none;
    }
    .vaardigheidtitel {
        text-align: center;
    }

    table{
        background: white;
        border-radius:3px;
        border-collapse: collapse;
        height: 320px;
        margin: auto;
        max-width: 600px;
        padding:5px;
        width: 100%;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        animation: float 5s infinite;
    }

    th {
        color:#D5DDE5;;
        background:#1b1e24;
        border-bottom:4px solid #9ea7af;
        border-right: 1px solid #343a45;
        font-size:23px;
        font-weight: 100;
        padding:24px;
        text-align:left;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        vertical-align:middle;
    }

    th:first-child {
        border-top-left-radius:3px;
    }

    th:last-child {
        border-top-right-radius:3px;
        border-right:none;
    }

    tr {
        border-top: 1px solid #C1C3D1;
        border-bottom-: 1px solid #C1C3D1;
        color:#666B85;
        font-size:16px;
        font-weight:normal;
        text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
    }

    tr:hover td {
        background:#4E5066;
        color:#FFFFFF;
        border-top: 1px solid #22262e;
    }

    tr:first-child {
        border-top:none;
    }

    tr:last-child {
        border-bottom:none;
    }

    tr:nth-child(odd) td {
        background:#EBEBEB;
    }

    tr:nth-child(odd):hover td {
        background:#4E5066;
    }

    tr:last-child td:first-child {
        border-bottom-left-radius:3px;
    }

    tr:last-child td:last-child {
        border-bottom-right-radius:3px;
    }

    td {
        background:#FFFFFF;
        padding:20px;
        text-align:left;
        vertical-align:middle;
        font-weight:300;
        font-size:18px;
        text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
        border-right: 1px solid #C1C3D1;
    }

    td:last-child {
        border-right: 0px;
    }

    th.text-left {
        text-align: left;
    }

    th.text-center {
        text-align: center;
    }

    th.text-right {
        text-align: right;
    }

    td.text-left {
        text-align: left;
    }

    td.text-center {
        text-align: center;
    }

    td.text-right {
        text-align: right;
    }


    /* Mobile first */
    nav {
        background-color: rgb(26, 24, 24);
        margin-top: -1px;
        font-size: 150%;
        top: 0px;
        width: 100%;
    }

    nav li {
        display: block;
        margin-left: 15px;
        margin-right: 15px;
    }

    nav li a {
        color: white;
        padding:  5px;
        margin-top: 1px;
        text-decoration: none;
        display: block;
    }


    header {
        margin-top: 1px;
    }

    .headerimg {
        display: none;
    }
    .grid-container {
        display: grid;
        grid-template-columns: 0.1fr 2.1fr 0.1fr;
        grid-template-rows: 1fr 1fr 3.7fr 0.3fr 0.1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
          ". Foto ."
          ". Wie-ben-ik ."
          ". vaardigheden ."
          ". . ."
          ". . ."
          ". . .";
    }

    .Foto { grid-area: Foto; }

    .Wie-ben-ik { grid-area: Wie-ben-ik; }

    .vaardigheden {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        gap: 0px 0px;
        grid-template-areas:
          "vaardigheid1 vaardigheid2"
          "vaardigheid3 vaardigheid4"
          "vaardigheid5 vaardigheid6";
        grid-area: vaardigheden;
    }

    .vaardigheid1 { grid-area: vaardigheid1; }

    .vaardigheid2 { grid-area: vaardigheid2; }

    .vaardigheid3 { grid-area: vaardigheid3; }

    .vaardigheid4 { grid-area: vaardigheid4; }

    .vaardigheid5 { grid-area: vaardigheid5; }

    .vaardigheid6 { grid-area: vaardigheid6; }

    /* Tablet screen */
    @media screen and (min-width: 700px) {
        nav {
            background-color: rgb(26, 24, 24);
            margin-top: -1px;
            font-size: 135%;
            top: 0px;
            width: 100%;
        }
        title {
            display: block;
        }
        nav li {
            display: inline-block;
            margin-left: 15px;
            margin-right: 15px;
        }

        nav li a {
            color: white;
            padding:  5px;
            margin-top: 1px;
            text-decoration: none;
            display: block;

        }

        .headerimg {
            display: block;
            width: 100%;
            margin-bottom: 20px;
        }
        .Contactinformatie
        {
            margin-top: 80px;
        }
        .grid-container {
            display: grid;
            grid-template-columns: 0.8fr 1fr 1.2fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 0.6fr 1.4fr 1.4fr 0.6fr 1fr 1fr;
            gap: 10px 0px;
            grid-template-areas:
      ". Foto Wie-ben-ik Wie-ben-ik ."
      ". vaardigheden vaardigheden vaardigheden ."
      ". vaardigheden vaardigheden vaardigheden ."
      ". opleidingen opleidingen opleidingen ."
      ". Werkervaring Werkervaring Werkervaring ."
      ". Contactinformatie Contactinformatie Contactinformatie ."
      ". . . . ."
      ". . . . .";
        }

        .Wie-ben-ik { grid-area: Wie-ben-ik; }

        .Foto { grid-area: Foto; }

        .vaardigheden {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 0px 0px;
            grid-template-areas:
      "vaardigheid1 vaardigheid2 vaardigheid3"
      "vaardigheid4 vaardigheid5 vaardigheid6";
            grid-area: vaardigheden;
        }

        .vaardigheid1 { grid-area: vaardigheid1; }

        .vaardigheid2 { grid-area: vaardigheid2; }

        .vaardigheid3 { grid-area: vaardigheid3; }

        .vaardigheid4 { grid-area: vaardigheid4; }

        .vaardigheid5 { grid-area: vaardigheid5; }

        .vaardigheid6 { grid-area: vaardigheid6; }

        .opleidingen { grid-area: opleidingen; }

        .Werkervaring { grid-area: Werkervaring; }

        .Contactinformatie { grid-area: Contactinformatie; }


        @media screen and (min-width: 950px) {
            nav {
                background-color: rgb(53, 108, 171);
                margin-top: -1px;
                font-size: 150%;
                top: 0px;
                width: 100%;
                position: sticky;
            }

            nav li {
                display: inline-block;
                margin-left: 15px;
                margin-right: 15px;
            }

            nav li a {
                color: white;
                padding:  5px;
                margin-top: 1px;
                text-decoration: none;
                display: block;
            }

            .imgheader img {
                height: 210xp;
            }


        }
        padding:  5px; 
        margin-top: 1px;
        text-decoration: none;
        display: block;
    }

    .imgheader img {
        height: 210xp;
    }

    
}